# I am assuming from the code that you are using a .env locally like this, if so, I would include an example for clarity
# TODO: Clean this up, put the proper keys, and update README (This set is just my guess)
API_KEY=your_google_maps_api_key
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
GOOGLE_PLACES_TOKEN=your_google_places_token
GOOGLE_GEO_CODING_API_TOKEN=your_google_geo_coding_api